/*************************************

ボタン

*************************************/
/*
---
name: ボタン
category: components/button
---

# ボタンのベース

これはボタンのベースとなるもの。
これに色や大きさを継承させて実際に使うものに仕上げる。

```html
<a class="c-btn">Buttonだよ</a>
```
# submitボタン

```html
<a class="c-btn c-btn__submit">Submit Buttonだよ</a>
```

# cancelボタン

```html
<a class="c-btn c-btn__cancel">Canel Buttonだよ</a>
```

# disabledボタン

```html
<a class="c-btn c-btn__disabled">Disabled Buttonだよ</a>
```
 */

.c-btn {
  display: inline-block;
  min-width: 100px;
  max-width: 240px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #fff;
}

.c-btn__submit {
  background-color: rgb(10, 183, 247);
  border-color: rgb(10, 168, 196);
}

.c-btn__cancel {
  background-color: rgb(213, 35, 35);
  border-color: rgb(161, 16, 16);
  color: #fff;
}

.c-btn__disabled {
  background-color: rgb(198, 198, 198);
  border-color: rgb(131, 131, 131);
  color: rgb(167, 167, 167);
}
