/*************************************

ボタン

*************************************/
/*
---
name: ボタン
category: components/button
---

# ボタンのベース

```html
<a class="c-btn">Buttonだよ</a>
```

```html
<a class="c-btn c-btn__agree">Buttonだよ</a>
```

```html
<a class="c-btn c-btn__cancel">Buttonだよ</a>
```
 */
.c-btn {
  display: inline-block;
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background-color: #fff;
}

.c-btn__agree {
  color: #fff;
  border-color: rgb(3, 13, 69);
  background-color: rgb(0, 75, 201);
}

.c-btn__cancel {
  color: #fff;
  border-color: rgb(136, 13, 13);
  background-color: rgb(245, 32, 32);
}
