/*************************************

spriteシートのベース

*************************************/
.sprite-base {
  background-image: url("#{$path-img}/sprite.png");
}
.sprite-base-retina {
  background-image: url("#{$path-img}/sprite@2x.png")
}

/*************************************

アイコン

*************************************/
/*
---
name: スプライト画像
category: components/sprite
---

# 低解像度向けのアイコン

```html
<i class="sprite-base c-icon-home"></i>
<i class="sprite-base c-icon-flag"></i>
```

# Retina向けのアイコン
```html
<i class="sprite-base-retina c-icon-home-retina"></i>
<i class="sprite-base-retina c-icon-flag-retina"></i>
```
 */
.c-icon-home {
  @include sprite-position($sprite-home);
  @include sprite-width($sprite-home);
  @include sprite-height($sprite-home);
  @include sprite-background-size($sprite-home);
}
.c-icon-home-retina {
  @include sprite-position($sprite-home);
  @include sprite-width($sprite-home);
  @include sprite-height($sprite-home);
  @include sprite-background-size($sprite-home);
}
.c-icon-flag {
  @include sprite-position($sprite-flag);
  @include sprite-width($sprite-flag);
  @include sprite-height($sprite-flag);
  @include sprite-background-size($sprite-flag);
}
.c-icon-flag-retina {
  @include sprite-position($sprite-flag);
  @include sprite-width($sprite-flag);
  @include sprite-height($sprite-flag);
  @include sprite-background-size($sprite-flag);
}
