/*************************************

ファイルパス

*************************************/
$path-img: "/dist/img";
$path-font: "/src/font";

/*************************************

色定義

*************************************/
$white: #fff;

/*************************************

フォント定義

*************************************/
$font-gothic: "Noto Sans Japanese", "Proxima Nova", Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-serif: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
$font-mac: "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, fantasy;
