/*************************************

ボタン

*************************************/
/*
---
name: ボタンのベース
category: components/button
---

# 色んなボタン

- aBase button style.
- Use `a` or `button` tag.

```html
<a class="c-btn">Buttonだよ</a>
```
 */
.c-btn {
  display: block;
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background-color: #fff;
}
